<div class="post-item">
    <div class="post-header"> 
        <h1>{{post_title}}</h1>
        <p>{{user.username}} made this post on {{ format_date post_date }} </p>
    </div>
    <div class="post-body">
        {{ post_content }}
    </div>
    <div class="like-section">
        <button class="like-post-button" data-id="{{id}}">Like</button>
        <span id="like-count-{{id}}"class="like-count">{{likes}}</span>
    </div>
    <div class="comment-to-post-section">
        <div class="comment">
        {{#each comments as |comment|}}
            {{> individualComments }}
        {{/each}}
        </div>
    </div>
</div> 

<script src="/js/editPost.js"></script>
